<div class="detail">
    <img class="room-images2" src= "<%="/post_image/#{@post.room_image}" %>" >
    <div class="post-user-name">
        <img class="mx-3 p-1 host-icon nav-trigger" src="<%= "/#{@user.image_name}" %>">
    </div>
    <p class="room-name"><%= @post.room_name %></p>
    <p class="room-place2"><%= @post.place %></p>
    <p class="room-introdution"><%= @post.room_introduction %></p>
</div>